.banner {
    background-color: $color-blue-dark;
    opacity: .8;
    margin-top: 15rem;
    padding: 5rem 3rem;
    text-align: center;

    p {
        font-size: 4rem;
        color: #ffffff;
    }
}