/* GENERAL HEADER SECTION STYLING
Individual styling will apply on each page
Check relevant page for individual styles */

.header {
    // min-height: 80rem;
    background-image: url("../img/chuttersnap-A7KO30EbxQE-unsplash.jpg");
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(12, 1fr);

    @media only screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15rem 10rem 10rem 10rem;
    }

    &__logo {
        grid-row: 2 / 3;
        grid-column: 8/ 12;

        &--pic {
            height: 20rem;
            width: 40rem;
            background-color: #fff;
            border-radius: 1.5rem;
        }

        @media only screen and (max-width: 800px) {
            margin: 6rem 0;
        }
    }

    &__main {
        color: #fff;
        grid-row: 2 / 9;
        grid-column: 2 / 7;
        // background-color: rgba(0, 0, 0, 0.5);
        // padding: 2rem;
        // border-radius: .5rem;

        @media only screen and (max-width: 800px) {
            
        }

        &--title {
            font-size: 7rem;
            line-height: 1.2;

            @media only screen and (max-width: 800px) {
                // text-align: center;
                font-size: 5rem;
            }
        }

        &--blurb {
            margin-top: 3rem;

            @media only screen and (max-width: 800px) {
                // text-align: center;
            }

            p {
                font-size: 5rem;
                margin-bottom: 1rem;
            }

            ul {
                line-height: 1.5;
            }

            li {
                font-size: 3rem;
                list-style: none;
            }
        }
    }

    &__sub {
        color: #fff;
        // grid-row: 6 / 7;
        // grid-column: 4 / 10;
        grid-row: 4 / 5;
        grid-column: 8/ 12;
        text-align: center;
        background-color: rgba(0, 0, 0, .5);
        padding: 2rem;
        border-radius: .5rem;

        @media only screen and (max-width: 800px) {
            margin-top: 6rem;
        }
        
        p {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }
}