//Navbar styling
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 2rem 0;
    z-index: 100;
    // transition: all .5s;

    @media only screen and (max-width: 900px) {
        flex-direction: column;
        align-items: flex-start;
        height: 10rem;
        
        
    }
    
    &__links {
        // transition: all 1s;
        @media only screen and (max-width: 900px) {
        opacity: 0;
        overflow: hidden;
        }
    }

    &__nav {
        display: flex;
        list-style: none;
        padding-right: 2rem;

        @media only screen and (max-width: 900px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            text-align: center;
        }

        &--item {
            margin-left: 5rem;
            @media only screen and (max-width: 900px) {
                padding: 5rem 0;
                margin: 0;
            }
        }

        &--link {
            text-decoration: none;
            color: #000;
            font-size: 1.8rem;

            @media only screen and (max-width: 900px) {
                font-size: 3rem;
            }

        }

    }

    &__logo {
        height: 8rem;
        width: 16rem;
        padding-left: 2rem;
    }
}

.hamburger {
    display: none;

    //Only display hamburger at specified screen width
    @media only screen and (max-width: 900px) {
        display: block;
        align-self: flex-end;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}
