//Navbar styling
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 2rem 0;
    
    &__links {
        @media only screen and (max-width: 800px) {
            display: none;
        }
    }

    &__nav {
        display: flex;
        list-style: none;
        padding-right: 2rem;

        &--item {
            margin-left: 5rem;
        }

        &--link {
            text-decoration: none;
            color: #000;
            font-size: 1.8rem;
        }
    }

    &__logo {
        height: 8rem;
        width: 16rem;
        padding-left: 2rem;
    }
}

.hamburger {
    display: none;

    //Only display hamburger at specified screen width
    @media only screen and (max-width: 800px) {
        display: block;
    }
}