.--underline-blue {
    border-bottom: .3rem solid $color-blue;
}

.--underline-green {
    border-bottom: .3rem solid $color-green;
}

.--underline-brown {
    border-bottom: .3rem solid $color-brown;
}

.--highlight-brown {
    color: $color-brown;
}

.--highlight-blue {
    color: $color-blue;
}

.--highlight-green {
    color: $color-green;
}