//COLORS
//BLUES
$color-blue: #309EED;
$color-blue-light: #86C9FA;
$color-blue-dark: #0072C7;

//GREENS
$color-green: #89E413;
$color-green-light: #C5F557;
$color-green-dark: #448700;

//BROWNS
$color-brown: #9E6B00;
$color-brown-light: #B37300;
$color-brown-dark: #876100;